---

---

<footer>
    <small>
        Copyright &copy;
        <span id="copyright"></span> | All rights rights reserved
    </small>
</footer>

<script>
    document.getElementById('copyright').innerText = new Date().getFullYear().toString();
</script>