---
import Head from "./Head.astro"
import "../styles/global.css"

interface Props{
  title?: string;
  description?: string;
}

const {
  title ='My Blog',
  description="My Blogging app",
  } = Astro.props as Props;
---

<html lang="en">
  <Head {title} {description} />

  <body>
    <slot> Default Txet </slot>
  </body>
</html>
