---
import App from "../../layout/App.astro";

---
<App title="Home" description="This is the home page of my blogging app">
    <ul>
        <li>
            <a href="blog/post-1"> Post 1</a>
        </li>
        <li>
            <a href="./post-2/"> Post 2</a>
        </li>
        <li>
            <a href="./post-3/"> Post 3</a>
        </li>
        <li>
            <a href="./post-4/"> Post 4</a>
        </li>
    </ul>
</App>